{% extends "base.html.twig" %}

{% block title %}Détail article{% endblock %}

{% block body %}

<div class="row text-center mt-3">
    <h1>{{ article.title }}</h1>
    <p> {{ article.author }} - ({{ article.createdAt|date("d/m/Y") }}) </p>
</div>
<div class="row text-center">
    <img class="thumbnail" src="{{ article.thumbnail }}" alt="{{ article.title }}">
    <p>
        {{ article.content }}
    </p>
</div>
<div class="row text-center">
    <div class="col">
        <a class="btn btn-success" role="button" href="{{ path('app_articles_edit',{id:article.id}) }}" >Modifier</a>
        <form action="{{ path("app_articles_delete",{id:article.id}) }}" method="post" onsubmit="return confirm('Voulez-vous vraiment supprimer cet article ?')" >
            <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}">
            <button class="btn btn-danger" type="submit" >Supprimer</button>
        </form>
    </div>
</div>
<hr>
<div class="row my-5">
    <div class="col-6">
        <div class="row text-center my-5">
            <h4>Ajouter un commentaire</h4>
        </div>        
        <div class="row p-5">
            {{ form_start(commentForm,{'action':path('app_comment_add',{'article':article.id})})}}
                {{ form_widget(commentForm)}}
                <button class="btn btn-primary" type="submit">Ajouter</button>
            {{ form_end(commentForm)}}
        </div>
    </div>
    <div class="col-6">
        <div class="row text-center my-5">
            <h4>Les commentaires</h4>
        </div> 
        <div class="row p-5">
            <div class="list-group">
                {% for comment in comments %}            
                <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ comment.username }}</h5>
                    {# <small> {{ "now"|date_diff(comment.createdAt) }} </small> #}
                    <small> {{ comment.createdAt|date("d-m-Y H:i:s") }} </small>
                  </div>
                  <p class="mb-1">{{ comment.comment }}</p>              
                </a>
                {% endfor %}            
            </div>
        </div>

    </div>
</div>

{% endblock %}